* { margin:0; padding:0; outline:none; }
html { overflow-y: scroll; }

body { background-image:url(img/bg-pat.jpg); background-repeat:repeat; color:#444; font-size:100%; letter-spacing:0.015em; line-height:1.25em; font-family:"Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif; }
a { color:#93C; text-decoration:none; }
a:visted { color:#dfd4e3; }
a:hover { color:#0C6;}

h1 { font-size:1.2em; }
h2 { font-size:1em; }
h3 { font-size:0.9em; color:#38235F;}
p {font-size:0.8em; }

.logo { float:left; margin-right: 180px; padding-left:20px;}
.am-logo { float:left; margin-right: 100px; padding-left:20px;}


#container { background-image:url(img/bg-container.jpg); width:1000px; margin:0 auto; padding-top:20px; border-left:1px solid #38235F; border-right:1px solid #38235F; border-bottom:1px solid #38235F; overflow:auto;}


#top-content { background-image:url(img/mag-grade-2.jpg); height:300px;}
#top-content a { color:#662d91; margin-left:20px; padding:5px; font-size:1em; font-weight:bold; border:2px solid #faeeff;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}
#top-content a:hover { color:#faeeff; border:2px solid #662d91; background-color:#662d91;}

/* AM NAV */
#am-nav { padding-top:20px; margin-bottom:20px; }
#am-nav li { display:block; float:left; margin-right:25px; font-size:1.2em;}

#amHome a:hover { color:#0C6; border:none; }
#amPort a:hover { color:#0C6; border:none; }
#amContact a:hover { color:#0C6; border:none; }

/* END AM NAV */

#nav { position:absolute }
#nav #science-nav {
	position:relative;
	top:-175px;
	left:105px;
	z-index:502;
}
#nav #science-nav { float:left; width:75px; height:75px; margin-right:20px; background-image:url(img/nav-science.png); background-repeat:no-repeat; background-position:0 -75px; }
#nav #science-nav:hover { background-position:0 0px; }

#nav #games-nav {
	position:relative;
	top:-175px;
	left:705px;
	z-index:502;
}
#nav #games-nav { float:left; width:75px; height:75px; margin-right:20px; background-image:url(img/nav-games.png); background-repeat:no-repeat; background-position:0 -75px; }
#nav #games-nav:hover { background-position:0 0px; }

/* BEGIN AM SLIDE */
#am-pres-slide { float:left;}
#am-pres-slides {	width:1000px; z-index:100; }
.am-pres-slides_container {	width:1000px;	overflow:hidden;	position:relative;	display:none; }
.am-pres-slides_container a {	width:1000px;	height:350px;	display:block; }
.am-pres-pagination {
	float:left;
	margin-left:20px;

}
.am-pres-pagination li {
	float:left;
	margin: 0 3px;
	list-style:none;
}
.am-pres-pagination li a {
	display:block;
	width:50px;
	height:50px;
	font-size:0em;
	background-image:url(img/pagination-main.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
	color:#fff;
}
.am-pres-pagination li.current a {
	background-position:0 -50px;
}

#am-testimonial { float:right; margin-right:20px; margin-top:-40px; }
#am-comment-slide { padding:30px 20px 0 20px; width:248px; height:260px; background:url(img/test-bg.jpg); margin-right:10px; box-shadow: 2px 1px 6px #210b33;}
#am-comment-slide h1 { margin-bottom:10px; }
#am-comment-slides { z-index:100;  }
#am-comment-slide img {}
.am-comment-slides_container { width:248px; overflow:hidden; position:relative;	display:none; }
.am-comment-slides_container a { color:#dfd4e3; width:248px; height:175px; display:block;}
.am-comment-pagination {
	margin-left:55px;
}
.am-comment-pagination li {
	float:left;
	margin: 0 3px;
	list-style:none;
}
.am-comment-pagination li a {
	display:block;
	width:25px;
	height:25px;
	font-size:0em;
	background-image:url(img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
	color:#fff;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
    border-radius: 12px;
}
.am-comment-pagination li.current a {
	background-position:0 -50px;
}

.commenter { font-style:italic; }

/* END AM SLIDE */

/* AM BODY */

#am-body { border-top:1px solid #210b33; background:url(img/am-body-bg.jpg); padding:30px 0 0 20px; }

.am-info-block { color:#dfd4e3; float:left; width:300px; margin:0 30px 50px 0; }
.am-info-block:hover { color:#faefff; }
.am-info-block h2 { margin-bottom:10px; }

/* END AM BODY */

#panda a { position:absolute; }
#panda img {
	position:relative;
	top:-52px;
	left:900px;
	z-index:500;
}

#pres-slide { float:left; margin-bottom:70px;}
#pres-slides {	width:1000px; z-index:100; }
.pres-slides_container {	width:1000px;	overflow:hidden;	position:relative;	display:none; border-bottom:1px solid #372049; }
.pres-slides_container a {	width:1000px;	height:400px;	display:block;}
.pres-pagination {
	float:left;
	padding-top:10px;
	margin-left:20px

}
.pres-pagination li {
	float:left;
	margin: 0 3px;
	list-style:none;
}
.pres-pagination li a {
	display:block;
	width:25px;
	height:25px;
	font-size:0em;
	background-image:url(img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
	color:#fff;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
    border-radius: 12px;

}
.pres-pagination li.current a {
	background-position:0 -50px;
}

#reminders { float:left; width: 400px; margin:0 20px 80px 20px;}
#reminders h1 { color:#662d91; margin-bottom:20px; padding-bottom:10px;  border-bottom:1px solid #662d91;}
#reminders ul li { list-style-type:none; }

/* Student Helpers */
#student-helpers { float:right; margin: 0 40px 70px 0; width: 450px; }
#student-helpers h1 { color:#662d91; margin-bottom:20px; padding-bottom:10px;  border-bottom:1px solid #662d91;}
#help-cl { float:left; background:url(img/cl-bg.png); background-repeat:no-repeat; width:450px; height:120px; margin-bottom:20px; }
#help-cl h3 { color:#662d91; margin-bottom:30px; }
#help-cl:hover h4 { font-size:2.6em;  }
#help-cl:hover { background-position: 0 -120px; }
#help-cl:hover #icon-cl { background-position:0 -120px; }
#icon-cl { float:left; width:240px; height:120px; margin-right:20px; background-image:url(img/icon-dumbo.png); background-repeat:no-repeat; background-position:0 0px; }


#help-at { float:left; background:url(img/at-bg.png); background-repeat:no-repeat; width:450px; height:120px;  margin-bottom:20px; }
#help-at h3 { color:#662d91; margin-bottom:30px; }
#help-at:hover h4 { font-size:2.6em;  }
#help-at:hover { background-position: 0 -120px; }
#help-at:hover #icon-at { background-position:0 -120px; }
#icon-at { float:left; width:240px; height:120px; margin-right:20px; background-image:url(img/icon-piglet.png); background-repeat:no-repeat; background-position:0 0px; }

#help-ba { float:left; background:url(img/ba-bg.png); background-repeat:no-repeat; width:450px; height:120px; margin-bottom:20px; }
#help-ba h3 { color:#662d91; margin-bottom:30px; }
#help-ba:hover h4 { font-size:2.6em;  }
#help-ba:hover { background-position: 0 -120px; }
#help-ba:hover #icon-ba { background-position:0 -120px; }
#icon-ba { float:left; width:240px; height:120px; margin-right:20px; background-image:url(img/icon-winx-club.png); background-repeat:no-repeat; background-position:0 0px; }


#important-dates { float:left; width: 400px; margin:0 0 40px 20px; position:relative;}
#important-dates img { position: absolute; top: 27px; left:335px; }
#important-dates h1 { color:#662d91; margin-bottom:20px; padding-bottom:10px;  border-bottom:1px solid #662d91;}
#important-dates ul li { list-style-type:none; margin-bottom:20px;}

#student-work { clear:left; float:left; width: 400px; margin:0 0 40px 20px; }
#student-work h1 { color:#662d91; margin-bottom:20px; padding-bottom:10px;  border-bottom:1px solid #662d91;}
#student-work p { margin-bottom: 20px; }
#student-work a {position:relative; }
#student-work a img { border: 2px solid #501f8c; margin: 0 25px 20px 0; }
#ribbon {
	position:absolute;
	top:-110px;
	left:-2px;
	z-index:500;
}

#spelling-words { float:right; margin: 0 40px 30px 0; width: 450px; }
#spelling-words h1 { color:#662d91; margin-bottom:20px; padding-bottom:10px;  border-bottom:1px solid #662d91;}
#spelling-words p { margin-bottom: 20px; }
#spelling-words ul {float:left; width: 335px; padding-left:20px; list-style-type:square;}
#spelling-words li { float:left; width:50%; }

/* CONTACT PAGE */
#logo-contact { float:left; margin:0 180px 50px 20px;}
#mag-grade-two-contact {margin:0 0 50px 370px; clear:both;}
#contactMain { width:1000px; margin:15px 0 0 20px; clear:both; }
.contactIntro { float:left; width:442px; margin-right:98px; }
.contactIntro h1 { font-size:1.2em; color:#662d91; margin-bottom:20px;  padding-bottom:10px;  border-bottom:1px solid #662d91;}
.contactIntro img { margin-bottom:35px; border:1px solid #662d91; box-shadow: 5px 5px 6px #888888;}
.contactIntro p {font-size:0.8em; }

.contactRight { float:left; width:400px; }
.contactRight h3 { font-size:1.2em; color:#662d91; margin-bottom:20px;  padding-bottom:10px;  border-bottom:1px solid #662d91; }
.contactRight fieldset { border:none; }
.contactRight label { font-size:0.8em; }
.contactRight .input_area { margin-bottom:20px; line-height:1.6em;}
.contactRight .inputBottom { border:2px solid #662d91; width:380px; height:20px; font-size:0.8em; padding:5px; }
.contactRight input:focus { border:2px solid #5B7658; box-shadow: 5px 5px 6px #888888; }
.contactRight textarea { border:2px solid #662d91; padding:5px; width:380px; font-size:0.8em;}
.contactRight textarea:focus { border:2px solid #5B7658; box-shadow: 5px 5px 6px #888888; }

#buttons input {margin-right:20px; margin-bottom:30px; padding:10px;font-size:0.8em;}
#buttons input:hover { cursor:pointer; }
/*END CONTACT */

/* BUCKET PAGE */
#mag-grade-two-bucket {margin:0 0 0 370px; clear:both;}
#bucket { margin:0 0 100px 100px; width:800px; }
#bucket img { margin:50px 0 40px 0px; border:3px solid #662d91; }
#bucket h2 { color:#662d91; margin-bottom: 20px; line-height:1.1em; }
#bucket p { line-height:1.3em; margin-bottom:20px; }
#bucket-archive {float:right; margin:0 0 30px 30px; padding:20px; background-color:#fffbc9; border:3px solid #662d91; box-shadow: 5px 5px 6px #888888;}
#bucket-archive ul {list-style-type:none; }

/* SOTW PAGE */
#mag-grade-two-SOTW {margin:0 0 0 370px; clear:both;}
#SOTW { margin:0 0 100px 100px; width:800px; }
#SOTW img { margin:50px 0 20px 0px; border:3px solid #662d91; }
#SOTW h2 { color:#662d91; margin-bottom: 20px; line-height:1.1em; }
#SOTW h3 { margin-bottom: 20px; }
#SOTW img.writing-img { float:right; margin:0px 0 30px 30px; border:1px solid #662d91; box-shadow: 5px 5px 6px #888888;}
#SOTW p { line-height:1.3em; margin-bottom:20px; }
#sotw-archive-link { float:right; font-weight:bold; padding:5px; background-color:#fffbc9; border:3px solid #662d91; }

/* SCIENCE PAGE */
#mag-grade-two-science {margin:0 0 30px 370px; clear:both;}
#science { margin:0 0 100px 100px; width:800px; }
#science h2 { color:#662d91; margin-bottom: 20px; line-height:1.1em; }
#science h3 { margin-bottom: 20px; line-height:1.1em; }
#science p { line-height:1.3em; margin-bottom:20px; }
#science img { float:right; margin:0px 0px 20px 20px; border:3px solid #662d91; box-shadow: 5px 5px 6px #888888;}
#science-structure { margin:0 0 100px 100px; width:800px; }
#science-structure img { float:left; margin:0px 0px 40px 0px; border:3px solid #662d91; box-shadow: 5px 5px 6px #888888; }
#science-structure h2 { color:#662d91; margin-bottom: 20px; line-height:1.1em; clear:left; }
#science-structure h3 { margin-bottom: 20px; line-height:1.1em; }
#science-structure p { line-height:1.3em; margin-bottom:20px; }
#science-structure img.sci-structure-zoom { margin:0px 60px 0px 0px; }
#science-structure img.sci-structure-day3 { margin:0px 10px 10px 0px; }
#science-structure img.sci-structure-day4 { margin:0px 40px 40px 0px; }
#science-structure img.sci-structure-day4b { margin:0px 30px 30px 0px; }
#science-structure img.sci-structure-day5-materials { margin:0px 30px 30px 0px; }
#science-structure img.sci-structure-day5 { margin:0px 40px 40px 0px; }
#science-structure img.sci-structure-day6 { margin:0px 10px 20px 0px; }
#science-structure img.sci-structure-day7 { margin:0px 40px 40px 0px; }
#science-structure img.sci-structure-day8 { margin:0px 40px 40px 0px; }
#science-structure img.sci-structure-day10 { margin:0px 40px 40px 0px; }
#science-structure img.sci-structure-day11 { margin:0px 40px 40px 0px; }
#science-structure img.sci-structure-day12 { margin:0px 40px 40px 0px; }
.sci-pic {float:right; }
#science-archive-link { float:right; margin:0px 0 40px 60px; font-weight:bold; padding:5px; background-color:#fffbc9; border:3px solid #662d91; box-shadow: 2px 2px 5px #888888;}


/* STUDENT WORK ARCHIVE PAGE */
#mag-grade-two-sw {margin:0 0 50px 370px; clear:both;}
#sw-archive { margin:0 0 100px 25px; width:900px; }
#sw-archive img { margin:50px 0 40px 0px; border:3px solid #662d91; }
#sw-archive h2 { color:#662d91; margin-bottom:20px; padding-bottom:10px;  border-bottom:1px solid #662d91;}
#sw-archive p { margin-bottom: 20px; }
#sw-archive a {position:relative; }
#sw-archive a img { border: 2px solid #501f8c; margin: 0 25px 20px 0; }
.past-sw-box {float:left; width: 150px; margin-right: 25px; margin-bottom:20px; }

/* STUDENT OF THE WEEK ARCHIVE PAGE */
#mag-grade-two-sotw-archive {margin:0 0 50px 370px; clear:both;}
#sotw-names-archive {float:left; margin:0 0 50px 0px; padding:10px; background-color:#fffbc9; border:3px solid #662d91; box-shadow: 5px 5px 6px #888888;}
#sotw-names-archive ul li {display:block; float:left; margin-right:30px; }
#sotw-archive { margin:0 0 100px 100px; width:800px; }
#sotw-archive img { margin:50px 0 40px 0px; border:3px solid #662d91; }
#sotw-archive h1 { color:#662d91; margin-bottom:20px; padding-bottom:10px;  border-bottom:1px solid #662d91;}
#sotw-archive h2 { color:#662d91; margin-bottom: 20px; line-height:1.1em; }
#sotw-archive h3 { margin-bottom: 20px; }
#sotw-archive img.writing-img { float:right; margin:0px 0 30px 30px; border:1px solid #662d91; box-shadow: 5px 5px 6px #888888;}
#sotw-archive p { line-height:1.3em; margin-bottom:20px; }

/* CHARACTER TRAIT ARCHIVE PAGE */
#ct-archive { margin:0 0 100px 100px; width:400px; }
#ct-archive img { margin:0px 0 40px 0px; border:3px solid #662d91; }
#ct-archive h2 { color:#662d91; margin-bottom:30px; padding-bottom:10px;  border-bottom:1px solid #662d91; }
#ct-archive h3 { margin-bottom: 5px; }
#ct-archive p { line-height:1.3em; margin-bottom:5px; }


/* GAMES PAGE */
#games-container { margin:0 0 100px 25px; width:400px; }
#games-container img { float:right; }
#games-container h2 {color:#662d91; margin-bottom:20px; padding-bottom:10px;  border-bottom:1px solid #662d91;}
#games-container a  { display:block; margin-bottom:10px; }
.game-block { width:1000px; float:left; margin-bottom:30px; }
.game-block img { float:right; margin-right:50px; } 

.clear {clear:both;}
.top-link {float:right;}

/* AM PORTFOLIO INDEX */
#am-portfolio-focus { clear:both; padding:50px 0 0 20px; }
#am-portfolio-focus h1 { font-size:1.2em; }
#am-portfolio-body { padding:20px; }
#am-portfolio-body h2 { margin-bottom: 20px; }
#am-portfolio-body h3 { margin-top:10px; margin-bottom: 10px; }
#am-portfolio-body p { margin-bottom: 15px; }
.tpIntro { margin-bottom:45px; }
.comment { width:75%; }

.tpExperience { margin-bottom: 45px; overflow: auto; }
.workExpList { }
.workExpList li { display:inline-block; margin-bottom: 10px; float:left; clear:left;}
.workExpList i { font-size:0.8em; }
.workExpList a { font-size:0.8em; background-color:#C8AAFF; display:block; color:#22461E; padding:20px; border: 1px solid #38235F;}
.workExpList a:visited { color:#22461E; padding:10px 0 5px 20px; border: 1px solid #38235F;}
.workExpList a:hover { color:#0C6; background-color:#210B33; border: 1px solid #fff;}

.tpEducation { margin-bottom:40px; }
.tpEducation h3 { color:#38235F; line-height:1.3em; }
.tpEducation p { }
.tpEducation img { float:right; margin:0 0 20px 20px; border:1px solid #38235F; }

.tpTeachingPhilo { padding-bottom: 55px; }
.tpTeachingPhilo img {float:left; margin-right:20px; margin-bottom:10px; border:1px solid #38235F; }
.tpTeachingStandards { overflow: auto;}
.tpTeachingStandards img {float:right; margin-left: 20px; margin-bottom:20px; border:1px solid #38235F; }

/* CLASS WEBSITES PAGE */
#am-class-websites-body { padding:20px; }
#am-class-websites-body article {overflow: auto; margin-bottom:20px; }
#am-class-websites-body img { float:left; margin-right:20px; }
#am-class-websites-body h2 { margin-bottom: 20px; }
#am-class-websites-body h3 { margin-top:10px; margin-bottom: 10px; }


.rounded-corners {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}